{% extends 'base.html.twig' %}

{% block content %}
    <div class="card mb-4">
        <div class="card-header">
           Admin
        </div>
        <div class="card-body">
            <h5 class="card-title">Impersonating a user</h5>
            <p class="card-text">You can impersonate any user from the 'organisation' by selecting them from the dropdown in the menu.</p>
        </div>
    </div>
{% endblock %}
