{% extends 'base.html.twig' %}

{% block content %}
    <div class="card mb-4">
        <div class="card-header">
           Admin
        </div>
        <div class="card-body">
            <h5 class="card-title">Impersonating a User</h5>
            <p class="card-text">You can impersonate any user from the 'organisation' by selecting them from the dropdown in the menu.</p>
            <hr>
            <h5 class="card-title">Resetting the Demo System</h5>
            <p class="card-text">You can reset the demo system at any time by clicking the red reset button in the nav-bar.</p>
            <p class="card-text">It's a good idea to reset the system before attempting to validate each use case.</p>
        </div>
    </div>
{% endblock %}
